@font-face {
  font-family: 'InterVar';
  src: url("./others/InterVariable.ttf");
}

body
{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ff0000;
}


#medias {
  position: absolute;
  display: flex;
  height: 94%;
  width: 100%;
  bottom: 0;
  overflow-y: scroll;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

#buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.5);
}

button {
  font-family: 'InterVar', sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
}

button:focus {
  box-shadow: rgba(50, 50, 93, 1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.tel {
  border: solid;
  border-radius: 20px;
  margin: 0.2%;
  padding: 10px;
  align-items: center;
  border-width: 6px;
  border-color: pink;
  overflow-y: scroll;
}

.tel, .divS {
  display: flex;
  flex-direction: column;
  /* justify-self: stretch;
  align-content: space-around;
  justify-content: space-around; */
}

.divS {
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
}

.divS>audio, .divS>video {
  width: 100%;
}

#stats {
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  z-index: 2;
  color: white;
  font-family: 'InterVar', sans-serif;
  font-size: 15px;
  background-color: rgb(0, 0, 0, 0.5);
}

#btn_tech{
  margin-right: 30px;
}

#resizeTel{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 50%;
  z-index: 3;
}

#key_data{
  position: fixed;
  bottom: 50px;
  padding: 10px 20px;
  z-index: 2;
  color: white;
  font-family: 'InterVar', sans-serif;
  font-size: 15px;
  background-color: rgb(0, 0, 0, 0.5);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider
{
  display: none !important; 
}

audio::-webkit-media-controls-timeline{
  position: absolute;
  right: 0;
  width: 70%;
  z-index: 2;
}

audio::-webkit-media-controls-play-button{
  position: absolute;
  left: 0;
  width: 10%;
  z-index: 3;
}
audio {
  height: 20px;
  margin: 5px 0px;
}

#spatDiv{
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 2;
  background: black;
  height: 400px;
  width: 800px;
  text-align: center;
  /* transform: translate(-50%, -50%); */
}

.spatDiv_client{
  z-index: 3;
  width:20px;
  height:20px;
  background:#00cf8a;
  position:absolute;
  border-radius:50%;
  cursor: grab;
  border-width: 2px;
  border: solid;
  border-color: #00cf8a;
}

.spatDiv_client_selected{
  border-color: red;
}

.spatDiv_speakers{
  z-index: 3;
  width:20px;
  height:20px;
  background:yellow;
  position:absolute;
  border-radius:50%;
  cursor: grab;
  border-width: 2px;
  border: solid;
  border-color: yellow;
}

#device_info{
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 2;
  background: rgb(215, 62, 62);
  height: 400px;
  width: 800px;
  text-align: center;
  transform: translate(-50%, -50%);
}

#S_global{
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 2;
  background: rgb(215, 62, 62, 0.9);
  height: 70%;
  width: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  flex-direction: column;
  align-content: flex-start;
  border: solid;
  border-radius: 20px;
  margin: 0.2%;
  padding: 10px;
  border-width: 3px;
  border-color: black;
  overflow-y: scroll;
}